table {
  border-collapse: collapse;
  border: 1px solid darkmagenta;
  width: 400px;
}
th {
  background-color: darkmagenta;
  color: whitesmoke;
  height: 30px;
}
td {
  text-align: center;
  vertical-align: center;
  height: 30px;
}
table,
td,
th {
  border: 2px solid darkmagenta;
}
